<!DOCTYPE html>
<html>
<head>
  <title>RailsBlocks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>
    <a href="/"> Back to block colors</a>
  </h1>

<%= yield %>

</body>
</html>
